//! **************************************************************************
// Written by: Map P.20131013 on Tue Nov 11 12:01:02 2014
//! **************************************************************************

SCHEMATIC START;
COMP "tmds_out_n<0>" LOCATE = SITE "A13" LEVEL 1;
COMP "tmds_out_n<1>" LOCATE = SITE "A12" LEVEL 1;
COMP "tmds_out_n<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "tmds_out_n<3>" LOCATE = SITE "A14" LEVEL 1;
COMP "tmds_out_p<0>" LOCATE = SITE "C13" LEVEL 1;
COMP "tmds_out_p<1>" LOCATE = SITE "B12" LEVEL 1;
COMP "tmds_out_p<2>" LOCATE = SITE "C11" LEVEL 1;
COMP "tmds_out_p<3>" LOCATE = SITE "B14" LEVEL 1;
COMP "clk50" LOCATE = SITE "K3" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "btns<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "N9" LEVEL 1;
COMP "btns<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "btns<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "btns<3>" LOCATE = SITE "L5" LEVEL 1;
NET "clk50_IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

